// niri.d/10-inputs.kdl
// Keyboard, touchpad, mouse, trackpoint.
// Reference: https://niri-wm.github.io/niri/Configuration:-Input

input {
    keyboard {
        xkb {
            layout "it"
        }

        // Numlock on at startup.
        numlock
    }

    touchpad {
	tap
        dwt
        dwtp
        // natural-scroll
        disabled-on-external-mouse
    }

    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
    }

    trackpoint {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
    }

    // warp-mouse-to-focus
    // focus-follows-mouse max-scroll-amount="0%"
}

gestures {
    hot-corners {
        off
    }
}